@charset "utf-8";


/*.layout {
	border-collapse:collapse;
	font-size: 100%;
	line-height: 150%;
	margin: 10px 0 0;
	width: 100%;
	clear: both;
}
.footer {
	clear: both;
}
*/
/*--hide column--*/
.hidden {
	display: none;
	visibility: hidden;
}
.clear {
	border-collapse:collapse;
	clear: both;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
