@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------------------------[  form  ]----------*/
.form h2 {
	background-image: url(../images/icon_here.gif);
	background-repeat: no-repeat;
	background-position: left 6px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 18px;
}
.form h2 span {
	font-size: 140%;
	color: #760000;
	font-weight: normal;
	margin: 0px;
	padding: 0px;	
}
.form h3 {
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
}


.form p {
	color: #CC6600;
}
.form .pic {
	margin: 2px;
	padding: 1px;
	height: 100px;
	width: 120px;
	border: 1px solid #CCCCCC;
}
.form .note {
	font-size: 80%;
	width: 95%;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 20;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	float: left;
}
.form .note em{color:#CC0000; }
.form .note span{ color:#0066CC;}
.form .note span.text_red{
	color:#CC0000;
}
.form table {
	width:100%;
	clear:both;
	border-collapse:collapse;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
}
.form table tr {
	border: 1px dotted #CCC;
}
.form table tr th {
	color: #333333;
	padding:3px;
	text-align:center;
	margin:0px;
	vertical-align:middle;
	white-space: nowrap;
	font-weight: normal;
	font-size: 80%;
	background-color: #F6F6F6;
}


.form table caption { 
	color:#666; 
	padding:2px 0;
	text-align:left; 
}
.form table th label{
	color: #333333;padding:0px;margin:0px;
}
.form table th.throw{
	color: #009999;
	padding:8px 3px 0px 3px;
	text-align: right;
	background-color: Transparent;
	border-right: Transparent;
	font-weight: normal;
	vertical-align:top;
	white-space: nowrap;
}
.form table th.thCol{
	color: #333333;
	text-align:center;
	vertical-align:middle;
	border: 1px dotted #CCC;
	font-weight: normal;
	font-size:80%;
	background-color: #EFEFEF;
}
.form table td{
	vertical-align:top;
	font-size: 80%;
	margin: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.form table td .formList{
	margin:5px 0 0 5px;
}
.form table td .formList li{
	line-height: 25px;
	padding:0 0 0 15px;
	background-image: url(../images/icon_arrow3.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px;
}
.form table td img {
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}
.form table td label textarea {
	font-size: 80%;
}
.form .btn_center {
	text-align: center;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 100%;
	white-space: nowrap;
}
.form table a{
	color: #0066CC;
}
.form .text{ 
	color: #333333;
	background-color: #FFFFFF;
	vertical-align:middle;
	padding:3px;
	width:80%;
	border: 1px solid #CCC;
}
.form .textarea{ width:80%; height:150px; font-size:105%;}
.form .formBtn{ text-align:center;}
.form .notes table{
	border:0px;
}