@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------------------------[  lp  ]----------*/
.lp h2 {
	background-image: url(../images/icon_here.gif);
	background-repeat: no-repeat;
	background-position: left 6px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 18px;
	font-size: 100%;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.lp h2 span {
	font-size: 140%;
	color: #760000;
	font-weight: normal;
	margin: 0px;
	padding: 0px;	
}
.lp h3 {
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.lp h3 span{
	color: #333;
}
/*--------------------------------------------------------------------------------[  subnode / category  ]----------*/
.lp .subnode .accesskey, 
.lp .category .accesskey {
	position: relative;
	top: auto;
	font-size:70%;
	float:left;
	display: none;
}
.lp .subnode .accesskey a, 
.lp .category .accesskey a { 
	font-size:70%; 
	text-decoration:none;
}
.lp p {
	margin: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 5px;
}
.lp .subnode {
	margin: 0px;
	padding: 0px;
	width: 100%;
	}
.lp .subnode ul {
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
}
.lp .subnode li {
	display:inline;
	border: 1px solid #b1c2ba;
	background: #fff url(../images/subnode_bg.jpg) repeat-x 0px 0px;
	list-style: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 3px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 6px;
	padding-left: 5px;
}
.lp .subnode a {
	color: #ffffff;
	text-decoration:none;
}
.lp .subnode li a {
	color: #333; 
	text-decoration:none;
}
.lp .subnode li a:hover {
	color:#760000;
}
.lp .subnode li.here {
	color: #FFFFFF;
	background-color: #760000;
	background-image: none;
}
.lp .subnode li.here a {
	color:#FFFFFF;
	text-decoration:none;
}
.lp .subnode li.here a:hover { 
	color:#FFFFFF;
	text-decoration:underline;
}





.lp .rss {
	float:right;
	margin-top:-36px;
	padding: 0px;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.lp .rss img {
	vertical-align:-2px;
}
.lp .activitysort {
	margin:10px 0;
	border: 1px dashed #ddd;
	padding: 10px;
	line-height: 26px;
	font-size: 80%;
	background-color: #F7F7F7;
}
.lp .activitysort2{
	margin:10px 0;
	border: 1px solid #ddd;
	padding: 10px;
	height:500px;
	width:98%;
	overflow:auto;
	line-height: 26px;
	background-color: #EBEBEB;
}
.lp .activitysort2 table { 
	width:93%; 
	margin:0 0 0 15px;
}
.lp .activitysort2 table th {
	border-bottom:1px dotted #ccc;
	padding:3px;
	text-align:right;
	vertical-align:top;
	color: #333;
	font-size: 80%;
	font-weight: normal;
}
.lp .activitysort2 table td {
	border-bottom:1px dotted #ccc;
	padding:3px;
	color: #4d4d4d;
	font-size: 80%;
}
.lp li a, 
.lp .listTb a {
	color: #666666;
	font-size: 80%;
}
.lp li a:hover, 
.lp .listTb a:hover {
	color: #760000;
	text-decoration: underline;
}
.lp .bbs {
	margin: 0px 0px 20px 0;
	padding:5px;
	background: #FFFFFF;
	float:left;
	width:99%;
	clear:both;
}
.lp .bbs .date {
	font-size:100%;
}
.lp .bbs p {
	margin:0px 0px 5px 0px;
	padding:0px;
	_padding:0 10px 0 0 ;
	line-height: 20px;
	color: #4d4d4d;
	overflow:hidden;  /* 解決文字和圖位置都能共齊問題 */
	_float:left;      /* ie6無效要用float定位 */
}

/*--------------------------------------------------------------------------------[  tb 條例表格  ]----------*/
.lp .tb {
	width:100%;
	padding: 0px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
.lp .tb tr {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCC;
	border-bottom-color: #CCC;
}
.lp .tb tr th {
	text-align:center;
	color: #666;
	white-space: nowrap;
	font-size: 80%;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	margin: 0px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	background-color: #EFEFEF;
}
.lp .tb tr .number {
}
.lp .tb tr td {
	text-align:left;
	color: #666;
	white-space: normal;
	font-size: 80%;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	margin: 0px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.lp .tb tr td a {
	font-size: 100%;
	color: #760000;
}
.lp .tb tr td a:hover {
	color: #333333;
	text-decoration: underline;
}
.lp .tb tr td a img {
	padding: 0px;
	height: 24px;
	width: 64px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.lp .tb tr .date {
	display: block;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding: 2px;
	width: 80px;
}

/*

.lp .tb caption {
	text-align:left;
	color: #999999;
	padding:3px 0;
	margin:0PX;
}
.lp .tb caption span { color:#0066CC; padding:0 5px 0 0;}
.lp .tb caption a {text-decoration:none;}
.lp .tb td{
	padding:3px;
	line-height: 18px;
	border-bottom: 1px dashed #ddd;
}
.lp .tb td input{ vertical-align:0px; }
.lp .tb tr.altrow{
	background-color: #F6F6F6;
}
.lp .tb .date{
	font-size:80%;
	width:15%;
	word-break:break-all;
}
.lp .tb td.number{
	text-align:right;
	color:#666;
	font-size: 80%;
}
.lp .tb td a {
	text-align:right;
	color:#666;
	font-size: 100%;
}
.lp .tb td a:hover {
	color:#760000;
}
.lp .tb td {
	color:#666;
	font-size: 80%;
}
/*
.lp .tb tr.altrow{
	border-color:expression(onmouseover=function(){style.backgroundColor='#CBE6AE';
	background-color: #F6F6F6;
}
,onmouseout=function(){style.backgroundColor='#cccccc';});}

html>body .lp .tb tr.altrow:hover{
	background-color: #CCC;
}

.lp .tb tr{border-color:expression(onmouseover=function(){style.backgroundColor='#CBE6AE';}
,onmouseout=function(){style.backgroundColor='#cccccc';});}
.lp .tb tr th {}

html>body .lp .tb tr:hover{
	background-color: #EBEBEB;
}








/*-----------------image*/
.lp .bbs td{ padding:5px;}
.lp .bbs .image{
	float:left;
	width:180px;	
	text-align:center;	
}
.lp .bbs .image img{
	margin: 0px;
	padding: 2px;
	width: 150px;
	border: 1px solid #ccc;
}

.lp .bbs .image .about {
	font-size: 90%;
	
}
.lp .bbs .image .about ul{
	margin:0 0 0 15px;
	text-align:center;
	padding:0px;
	list-style-type: none;
}
.lp .bbs .image .about li{
	padding:0 0 0 15px;
	display:block;
	color: #666;
	background: url(../images/icon2.gif) no-repeat 0px center;
}

.lp .bbs .posted{	
	font-size:90%;
	text-align:right;
	color: #009900;
	clear:both;
}



.lp .update{  text-align:right; clear:both; color:#999;}


/*----------------------------------list條例----*/
.lp .list ul{
	background-image: none;
	margin:0px 25px 0px 0px;
	clear:both;
}
.lp .list li{
	background-image: url(../images/icon_arrow8.gif);
	background-repeat: no-repeat;
	background-position: 0px 8px;
	padding-left: 15px;
	line-height: 25px;
	border-bottom: 1px dashed #dddddd;
	list-style:none;
}
.lp .list li .date{
	font-size: 70%;
	color: #888a89;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.lp .list .number{
	color: #666666;
	padding:0 5px 0 0;	
	font-size: 80%;
}
.lp .list .detail{
	background: url(../images/icon_arrow.gif) no-repeat 0px 1px;
	padding-left:6px;
	margin-left:5px;
}
.lp .list img{border:0px; display:inline; vertical-align:middle; padding:0 2px;}
.lp .list span{
	display:inline;
	color: #81c437;
	padding:0 0 0 3px;
}
.lp .list .source{
	color: #999999;
	text-align:right;
	font-size: 80%;
}
.lp .list li .hits {
	color: #666666;
	margin:0 0 0 5px;
	padding-left:13px;
	background: url(../images/icon_hits.gif) no-repeat 0px center;
}
/*-----------------------listPh 條例圖片----------*/
.lp .listPh { margin:10px 0 10px 0px; width:100%;}
.lp .listPh li{
	display:inline;
	width:32%;
	float:left;
	list-style: none;
	padding: 0px;
	margin-top: 0;
	margin-right: 3px;
	margin-bottom: 5;
	margin-left: 3px;
}
.lp .listPh li img{
	width:150px;	
	padding:4px;
	margin:2px;
	border:1px solid #ccc;
	background: #efefef;
}
.lp .listPh li .title {
	color:#666666;
	width: 150px;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 7px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.lp .listPh li .title:hover {
}

/*----------------------------------------selet */
.lp .selet{ text-align:left }
.lp .selet label{
	color: #006699;
}

/*--------------------------TbPh 表格圖片-------------- */
.lp .Tbph{
	width:100%;
	clear:both;
	margin:10px 0;
}
.lp .Tbph caption{
	padding:5px 0;
	text-align:left;
	color: #666666;
}
.lp .Tbph td{
	vertical-align:top;
	background-image: url(../images/list_Photobg.jpg);
	background-repeat: no-repeat;
	background-position: 0px top;
	font-size: 80%;
}
.lp .Tbph td h3{
	padding:3px 0 3px 2px;
	text-align:left;
	margin:0 0 10px 0;
	font-size: 100%;
	_font-size: 80%;
}
.lp .Tbph td h3 a{
	text-decoration: underline;
	color: #3366CC;
	
}
.lp .Tbph td p {
	color: #666666;
	padding: 0px;
	width: 150px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
caption {
	display: none;
}
.lp .Tbph td p a {
	font-size: 120%;
	color: #666666;
	text-align: justify;
	margin: 0px;
	padding: 0px;
	line-height: 130%;
}
.lp .Tbph td ul{ margin:0px;}
.lp .Tbph td li{
	background-image: url(../images/icon2.gif);
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-left: 10px;
	line-height: 130%;
}
.lp .Tbph td .image, .lp .Tbph td .ADimage{ text-align:center;}
.lp .Tbph td .image img{
	width:150px;	
	padding:4px;
	margin:2px;
	border:1px solid #ccc;
	background: #efefef;
}
.lp .Tbph td .ADimage img{
	width:150px;	
	padding:4px;
	margin:2px;
	border:1px solid #ccc;
	background: #efefef;
}
.lp .Tbph td .Mediaimage img{
	width:150px;	
	padding:4px;
	margin:2px;
	border:1px solid #ccc;
	background: #efefef;

}

/*--------------------------------------------------------------------------------[ teacher ]----------*/
.lp .teacher {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.lp .teacher h3 {
	background-color: #FFF;
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.lp .teacher h3 span {
	margin: 0px;
	padding: 0px;
}
.lp .teacher h3 span a {
	font-size: 86%;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	background-image: url(../images/icon2_2.gif);
	background-repeat: no-repeat;
	background-position: 10px 4px;
	*background-position: 10px 1px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 25px;
}
.lp .teacher ul {
	width: 660px;
	*width: 655px;
	height: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.lp .teacher ul li {
	display: inline-block;
	*display: inline;
	width: 150px;
	*float: left;
	padding-bottom: 5px;
	background-color: #EFEFEF;
	text-align: center;
	height: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 5px;
	margin-right: 3px;
	*margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	*margin-left: 5px;
}
.lp .teacher ul li a {
	width: 150px;
	text-align: center;
	font-size: 13px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.lp .teacher ul li a img {
	height: 100px;
	width: 140px;
	text-align: center;
	padding: 0px;
	border: 1px solid #FFFFFF;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.lp .teacher ul li span {
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.lp .teacher ul li span a {
	float: left;
	margin: 0px;
	padding: 0px;
}
.lp .teacher ul li span a:hover {
	color: #760000;
	text-decoration: underline;
}
